/* .grid {
  display: grid;
  height: 50px;
  gap: var(--spacing);
  grid-template-columns: repeat(12, 1fr);
}
.spirit {
  display: none;
}
main {
  grid-template-columns: 2fr 3fr !important;
}
.product {
  grid-column: auto !important;
}
.description {
  grid-column: auto !important;
} */

:root {
  --spacing: 20px;
  --negative-spacing: -20px;
  --black-color: #333;
  --green-color: #c7ff3f;
  --red-color: #fb3007;
  --purple-color: #7e1a5e;
  --border: 1px solid var(--black-color);
  --transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
  margin: 0 var(--spacing);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--black-color);
}
h1,
button {
  font-weight: 700;
}
h1 {
  font-size: 56px;
  line-height: 108%;
  margin-bottom: 20px;
}
button[type='submit'] {
  font-size: 22px;
  background-color: var(--black-color);
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  width: 212px;
  margin-top: auto;
}
button {
  cursor: pointer;
}
nav {
  grid-area: 1 / 1 / 2 / 2;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: var(--spacing);
  margin: 0 0 0 var(--negative-spacing);
  border-right: var(--border);
}
.nike-logo {
  width: 68px;
  margin-bottom: auto;
}
.social {
  width: 24px;
}
main {
  margin-block: var(--spacing);
  grid-area: 1 / 2 / 2 / -1;
  gap: var(--spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: start;
}
.spirit {
  grid-area: 1 / 2 / -1 / -1;
  max-height: calc(100dvh - var(--spacing) - var(--spacing));
  object-position: top right;
  object-fit: contain;
}
.product {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  border: var(--border);
  border-radius: 20px;
  overflow: hidden;
}
.product::after {
  content: '';
  background-color: var(--green-color);
  grid-area: 1 / 5 / 2 / 6;
  opacity: 0.2;
}
.product__main {
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / -1 / span 4;
  border-right: var(--border);
}
.price {
  grid-area: 1 / 1 / -1 / span 4;
  place-self: start;
  font-weight: 700;
  font-size: 48px;
  margin-left: var(--spacing);
}
[class^='product__thumb-'] {
  cursor: pointer;
  border-bottom: var(--border);
}
.product__thumb-1 {
  grid-area: 1 / 5 / 2 / 6;
}
.product__thumb-2 {
  grid-area: 2 / 5 / 3 / 6;
}
.product__thumb-3 {
  grid-area: 3 / 5 / 4 / 6;
}
.product__thumb-4 {
  grid-area: 4 / 5 / 5 / 6;
  border-bottom: none;
}
.description {
  display: flex;
  flex-direction: column;
}
[class^='btn-'] {
  height: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: var(--border);
}
[class^='btn-'],
[class^='btn-']::before {
  background-color: var(--main-color);
  aspect-ratio: 1;
  border-radius: 50%;
  transition: var(--transition);
}
[class^='btn-']::before {
  content: '';
  height: 22px;
}
[class^='btn-'].selected,
[class^='btn-']:hover {
  background-color: #fff;
}
[class^='btn-'].selected:before,
[class^='btn-']:hover::before {
  border: var(--border);
}
.btn-green {
  --main-color: var(--green-color);
}
.btn-red {
  --main-color: var(--red-color);
}
.btn-purple {
  --main-color: var(--purple-color);
}
.swatches {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

@media (max-width: 850px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  nav {
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    flex-direction: row;
    border-right: none;
    border-bottom: var(--border);
    z-index: 1;
    margin: 0 var(--negative-spacing);
    width: 100dvw;
  }
  main {
    grid-template-columns: repeat(12, 1fr);
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0;
  }
  .product {
    grid-column: 1 / span 5;
  }
  .description {
    grid-column: 6 / -1;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 14px;
  }
  button[type='submit'] {
    font-size: 18px;
    width: 180px;
    padding: 8px;
  }
  .spirit {
    grid-area: 2 / 1 / 3 / 2;
  }
  .nike-logo {
    margin-right: auto;
    margin-bottom: 0;
  }
  .price {
    font-size: 24px;
    margin-left: 10px;
  }
}
@media (max-width: 580px) {
  main {
    grid-template-columns: 1fr;
  }
  .swatches {
    margin-bottom: var(--spacing);
  }
  .spirit {
    place-self: end;
    margin-bottom: var(--spacing);
  }
  .product,
  .description {
    grid-column: auto;
  }
}
